@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato;
}

body {
  align-items: center;
  background-color: #181818;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.folha {
  margin: 15px auto;
  background-color: #e7e7e7;
  width: 400px;
  height: 550px;
  box-shadow: 15px 15px #0e0e0e;
}

.folha .sinal_m1 {
  margin-top: -13px;
  margin-right: -3px;
  text-align: end;
  font-size: 30px;
  font-weight: normal;
}

.endereço {
  margin-top: 70px;
  margin-left: 20px;
  font-size: 13px;
  text-align: start;
}
.texto {
  width: 250px;
}
.texto h2 {
  margin-top: 50px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 15px;
}

.texto p {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: -5px;
  font-weight: lighter;
  font-size: 14px;
  text-align: justify;
}

.texto .ass {
  margin-top: 20px;
  font-size: small;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .folha {
    width: 270px;
    height: 450px;
  }
  .endereço {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 13px;
    text-align: start;
  }

  .texto {
    width: 215px;
  }

  .texto p {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -5px;
    font-weight: lighter;
    font-size: 12px;
    text-align: justify;
  }
}
